Repository alphaolomi/laravel-api-docs, changes with the labels that .github/labeler.yml gives for each.
All labels: app-core, documentation, testing, database, frontend, public-assets, composer

.github/labeler.yml:

# .github/labeler.yml
# https://github.com/actions/labeler

# Add 'core' label to any change within the 'app' directory
app-core:
  - app/**/*
  - config/*
  - routes/**/*

# Add 'documentation' label to any change to markdown files within the 'docs' directory
documentation:
  - docs/**/*

# Add 'testing' label to any change to test files within the 'tests' directory
testing:
  - tests/**/*

# Add 'database' label to any change to database files within the 'database' directory
database:
  - database/**/*

# Add 'frontend' label to any change to JavaScript or CSS files within the 'resources/' directory
frontend:
  - resources/css/**/*
  - resources/js/**/*

public-assets:
  - public/**/*

composer:
  - composer.json
  - composer.lock

🐛(typo) invoke to class string
  routes/api.php
Labels: app-core

Fix styling
  app/Http/Resources/ProductCollection.php
  app/Http/Resources/ProductResource.php
  app/Providers/RouteServiceProvider.php
  routes/channels.php
  tests/Pest.php
Labels: app-core, testing

🔨Add Sail with Custom Docker
  Dockerfile
  composer.json
  composer.lock
  docker-compose.yml
  docker/php.ini
  docker/start-container
  docker/supervisord.conf
  scripts/database/mysql/create-testing-database.sh
Labels: composer

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/custom.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: none

Update issue templates (#9)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/custom.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: none

👷 Configure GH Auto release notes
  .github/release.yml
Labels: none

👷 Configure GH CODEOWNERS
  .github/CODEOWNERS
Labels: none

👷 Configure GH CODEOWNERS
  .github/CODEOWNERS
Labels: none

👷 Configure GH Auto release notes
  .github/release.yml
Labels: none

🔨Add Sail with Custom Docker
  Dockerfile
  composer.json
  composer.lock
  docker-compose.yml
  docker/php.ini
  docker/start-container
  docker/supervisord.conf
  scripts/database/mysql/create-testing-database.sh
Labels: composer

🔧 (rector) Use SetList Only
  rector.php
Labels: none

Fix styling
  rector.php
Labels: none

🔖 bump to v0.1.0
  composer.json
Labels: composer

👷 Add Docker for production
  Dockerfile.prod
  docker-compose.prod.yml
  docker/php-nginx/bin/service.d/cron.d/10-init.sh
  docker/php-nginx/etc/cron/application
  docker/php-nginx/etc/supervisor.d/horizon.conf
Labels: none

👷 Fix Docker prod
  Dockerfile.prod
  docker-compose.prod.yml
Labels: none

🔧 Edit PHPunit env config
  phpunit.xml
Labels: none

🔧 Add infection config
  infection.json5
Labels: none

👽️ Add Postman sync
  .postman/api
  .postman/api_00146c37-991d-4cf7-9efb-63873eb19d5c
  postman/schemas/index.yaml
  public/Products API.json
  public/docs/collection.json
Labels: public-assets

👽️ Add Postman sync
  .postman/api
  .postman/api_00146c37-991d-4cf7-9efb-63873eb19d5c
  postman/schemas/index.yaml
  public/Products API.json
  public/docs/collection.json
Labels: public-assets

🎨 Simple spec change
  postman/schemas/index.yaml
Labels: none

🎨 Simple spec change
  postman/schemas/index.yaml
Labels: none

🔥 remove duplicate collection
  .postman/api_00146c37-991d-4cf7-9efb-63873eb19d5c
  public/Products API.json
Labels: public-assets

🔥 remove duplicate collection
  .postman/api_00146c37-991d-4cf7-9efb-63873eb19d5c
  public/Products API.json
Labels: public-assets

Fix styling
  app/Http/Resources/ProductCollection.php
  app/Http/Resources/ProductResource.php
  app/Providers/RouteServiceProvider.php
  routes/channels.php
  tests/Pest.php
Labels: app-core, testing
